* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
form {
    display: flex;
    flex-direction: column;
    width: calc(49vw + 20px);
    background-color: rgb(235, 235, 255);
    padding: 10px;
}
.room-input-sections {
    display: flex;
    justify-content: space-between;
}
.room-input-section {
    flex: 1;
    width: 100%;
}
.double-room-input-section {
    padding-left: 2vw;
    padding-right: 2vw;
}
.count-button {
    width: 15vw;
    height: 60px;
    margin-top: 20px;
    background-color: rgb(209, 209, 253);
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    font-size: 16px;
    transition: background-color 0.4s ease-in-out;
}
.count-button:hover {
    cursor: pointer;
    background-color: rgb(197, 197, 255);
}
label {
    display: flex;
    flex-direction: column;
}
input {
    width: 15vw;
    height: 40px;
    padding-left: 16px;
    font-size: 16px;
}
input::placeholder {
    font-size: 14px;
}
.sheet-name-and-numbers-section {
    margin-top: 45px;
    width: calc(49vw + 20px);
}
.sheet-name-and-numbers-header {
    font-size: 18px;
}
.sheet-name-and-numbers {
    margin-top: 10px;
}
.sheet-name-and-number {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

@media (max-width: 930px) {
    form {
        width: 100vw;
    }
    input {
        width: 100%;
        padding-left: 8px;
        text-overflow: ellipsis;
    }
    .sheet-name-and-numbers-section {
        width: calc(100vw - 20px);
    }
}